$blue: rgba(50, 115, 221, 1);
$blue-light: rgba(50, 115, 221, .6);
$grey-light: #b5b5b5;
$link: $blue-light;
$link-hover: $blue;
$primary: $blue;
$fadeBaseTime: 0.5s;
$fadeModalTabsTime: 1s;
$fadeGridTime: $fadeBaseTime;
$fadeModal: $fadeBaseTime;
$columnHeaderLink: rgba(0,0,0,0.5);
$tableDivHeight: 30em !important;
$tableDivBgColor: white;
